
div {
  margin-top: 150px;
  margin-left: 500px;
  width: 500px;
  height: 500px;
  background-color: red;
  -webkit-animation: s2c 5s 3s infinite cubic-bezier(1,.015,.295,1.225) alternate;
     -moz-animation: s2c 5s 3s infinite cubic-bezier(1,.015,.295,1.225) alternate;
      -ms-animation: s2c 5s 3s infinite cubic-bezier(1,.015,.295,1.225) alternate;
       -o-animation: s2c 5s 3s infinite cubic-bezier(1,.015,.295,1.225) alternate;
          animation: s2c 5s 3s infinite cubic-bezier(1,.015,.295,1.225) alternate;
}


@-webkit-keyframes s2c {
  0%  {
    border-radius: 0 0 0 0;
    background-color: red;
    transform: rotate(0deg);
  }
  25% {
    border-radius: 50% 0 0 0;
    background-color: orange;
    transform: rotate(45deg);
  }
  50% {
    border-radius: 50% 50% 0 0;
    background-color: yellow;
    transform: rotate(90deg);
  }
  75% {
    border-radius: 50% 50% 50% 0%;
    background-color: green;
    transform: rotate(135deg);
  }
  100% {
    border-radius: 50%;
    background-color: blue;
    transform: rotate(180deg);
  }
}

@-moz-keyframes s2c {
  0%  {
    border-radius: 0 0 0 0;
    background-color: red;
    transform: rotate(0deg);
  }
  25% {
    border-radius: 50% 0 0 0;
    background-color: orange;
    transform: rotate(45deg);
  }
  50% {
    border-radius: 50% 50% 0 0;
    background-color: yellow;
    transform: rotate(90deg);
  }
  75% {
    border-radius: 50% 50% 50% 0%;
    background-color: green;
    transform: rotate(135deg);
  }
  100% {
    border-radius: 50%;
    background-color: blue;
    transform: rotate(180deg);
  }
}

@-ms-keyframes s2c {
  0%  {
    border-radius: 0 0 0 0;
    background-color: red;
    transform: rotate(0deg);
  }
  25% {
    border-radius: 50% 0 0 0;
    background-color: orange;
    transform: rotate(45deg);
  }
  50% {
    border-radius: 50% 50% 0 0;
    background-color: yellow;
    transform: rotate(90deg);
  }
  75% {
    border-radius: 50% 50% 50% 0%;
    background-color: green;
    transform: rotate(135deg);
  }
  100% {
    border-radius: 50%;
    background-color: blue;
    transform: rotate(180deg);
  }
}

@-o-keyframes s2c {
  0%  {
    border-radius: 0 0 0 0;
    background-color: red;
    transform: rotate(0deg);
  }
  25% {
    border-radius: 50% 0 0 0;
    background-color: orange;
    transform: rotate(45deg);
  }
  50% {
    border-radius: 50% 50% 0 0;
    background-color: yellow;
    transform: rotate(90deg);
  }
  75% {
    border-radius: 50% 50% 50% 0%;
    background-color: green;
    transform: rotate(135deg);
  }
  100% {
    border-radius: 50%;
    background-color: blue;
    transform: rotate(180deg);
  }
}

@keyframes s2c {
  0%  {
    border-radius: 0 0 0 0;
    background-color: red;
    transform: rotate(0deg);
  }
  25% {
    border-radius: 50% 0 0 0;
    background-color: orange;
    transform: rotate(45deg);
  }
  50% {
    border-radius: 50% 50% 0 0;
    background-color: yellow;
    transform: rotate(90deg);
  }
  75% {
    border-radius: 50% 50% 50% 0%;
    background-color: green;
    transform: rotate(135deg);
  }
  100% {
    border-radius: 50%;
    background-color: blue;
    transform: rotate(180deg);
  }
}
